/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.fbroot {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.fbmain {
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
}

#fbforma {
  text-align: center;
  border: 1px solid #dddfe2;
  padding: 40px 20px;
  padding-bottom: 20px;
  background-color: #fff;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 396px;
  /* padding-bottom: 0; */
}

.fbform {
  margin-top: 20px;
}

.fbform-group {
  text-align: start;
  position: relative;
  margin: 15px 0;
}

.fbform-group label {
  position: absolute;
  top: 10px;
  left: 10px;
}

.fbform-group div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  /* border: 1px solid #c4c4c4; */
  box-shadow: 1px 2px 2px #e5e5e5;
  border-radius: 5px;
  padding-right: 10px;
}

.fbform-group .fbinput {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 13px;
  color: #6b6b6b;
  padding: 15px;
}

.field-icon {
  position: relative;
  color: rgb(65, 65, 65);
  font-size: 13px;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.fbbutton {
  width: 100%;
  border: 1px solid #1877f2;
  background-color: #1877f2;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.fb_votebutton {
  border: 1px solid #1877f2;
  background-color: #1877f2;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.orr {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.orr p {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 13px;
  color: rgb(109, 109, 109);
}

.orr::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 40%;
  background-color: #dadada;
  top: calc(50% - 0.5px);
  left: 0;
}

.orr::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40%;
  background-color: #dadada;
  top: calc(50% - 0.5px);
  right: 0;
}

.fbform a {
  font-size: 13px;
  color: #1877f2;
}

.fbsign-up {
  height: auto;
  text-align: center;
  /* border: 1px solid #c9c9c9; */

  /* padding: 20px; */
  /* background-color: #fff; */
  /* margin: auto; */
  /* margin-top: 15px; */
  width: 100%;
}

.fbsign-up p {
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgb(15, 15, 15);
  font-size: 12px;
}

.fbsign-up p a {
  color: #fff;
  background-color: #42b72a;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #42b72a;
  display: inline-block;
  width: 100%;
  border-radius: 6px;
  padding: 0 16px;
  line-height: 48px;
  max-width: 250px;
  white-space: nowrap;
  text-decoration: none;
}

.get {
  color: #000;
  margin: 15px 0;
}

.fblinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 350px;
  margin: auto;
}

.fblinks a img {
  height: 45px;
  width: auto;
}

.fbnd-links .uiList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 60px;
  text-align: center;
  justify-content: center;
}

.fbnd-links ._sv4 {
  font-size: 12px;
  margin: 0 10px;
  color: #8a8d91;
}
.fbfooter p {
  margin-top: 20px;
  color: #848585;
  font-size: 13px;
}

#alert-message {
  color: rgb(255, 0, 0);
}

.fbheppa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  margin-top: 30px;
  color: #848585;
}

.fbheppa a {
  color: #848585;
}

.fbheppa li {
  list-style: disc;
}

@media screen and (max-width: 450px) {
  .fbmain {
  }
  #fbforma {
    background-color: transparent;
    border: none;
  }

  .fbsign-up {
    background-color: #42b72a;
    color: #fff;
    border-radius: 6px;
  }
}
