/*================================================================================
	Item Name: Crypto ICO - Cryptocurrency Website Landing Page HTML + Dashboard Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.igroot {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.igmain {
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
}

#igforma {
  width: 350px;
  height: auto;
  text-align: center;
  border: 1px solid #c9c9c9;
  padding: 40px;
  padding-bottom: 20px;
  background-color: #fff;
  margin: auto;
}

.igform {
  margin-top: 20px;
}

.igform-group {
  text-align: start;
  position: relative;
  margin: 15px 0;
}

.igform-group label {
  position: absolute;
  top: 10px;
  left: 10px;
}

.igform-group div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 10px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.igform-group input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  font-size: 13px;
  color: #6b6b6b;
}

.field-icon {
  position: relative;
  color: rgb(65, 65, 65);
  font-size: 13px;
  z-index: 2;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.igbutton {
  width: 100%;
  border: 1px solid #1e71ec;
  background-color: #1e71ec;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.ig_votebutton {
  border: 1px solid #f21818;
  background-color: #f21818;
  color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.orr {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.orr p {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 13px;
  color: rgb(109, 109, 109);
}

.orr::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 40%;
  background-color: #dadada;
  top: calc(50% - 0.5px);
  left: 0;
}

.orr::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 40%;
  background-color: #dadada;
  top: calc(50% - 0.5px);
  right: 0;
}

.igform a {
  font-size: 13px;
  color: rgb(85, 85, 85);
}

.igsign-up {
  height: auto;
  text-align: center;
  border: 1px solid #c9c9c9;
  padding: 20px;
  background-color: #fff;
  margin: auto;
  margin-top: 15px;
  width: 350px;
}

.igsign-up p {
  margin-bottom: 0;
  padding-bottom: 0;
  color: rgb(15, 15, 15);
  font-size: 12px;
}

.igsign-up p a {
  color: #1e71ec;
  font-weight: 500;
  cursor: pointer;
}

.igget {
  color: #000;
  margin: 15px 0;
}

.iglinks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 350px;
  margin: auto;
}

.iglinks a img {
  height: 45px;
  width: auto;
}

.ignd-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}

.ignd-links a {
  font-size: 12px;
  margin: 0 10px;
  color: #848585;
}
.igfooter p {
  margin-top: 20px;
  color: #848585;
  font-size: 13px;
}

#alert-message {
  color: rgb(255, 0, 0);
}

.app_logo {
  width: 150px;
}

.logFb {
  margin: 5;
  display: flex;
  justify-content: center;
  color: #1e71ec;
  font-weight: 500;
  cursor: pointer;
}

.logFb img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.PoweredBy {
  width: 100%;
  margin: 15% 50%;
  font-size: small;
  transform: translateX(-50%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  box-sizing: border-box;
}

.PoweredBy span {
  font-style: italic;
  font-weight: 500;
  color: #1e71ec;
}
@media screen and (max-width: 450px) {
  .igmain {
    height: 110vh;
  }
  #forma {
    background-color: transparent;
    border: none;
  }

  .igsign-up {
    background-color: transparent;
    border: none;
  }

  .app_logo {
    width: 75px;
  }

  .PoweredBy {
    width: 100%;
    margin: 15% 50%;
    font-size: small;
    transform: translateX(-50%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    box-sizing: border-box;
  }

  .PoweredBy span {
    font-style: italic;
    color: #1e71ec;
    font-weight: 600;
  }
}
